<html>
<head>
	<title>TODO.COM</title>
	<style type="text/css">
			a:link{
				text-decoration:none;
			}
	</style>
</head>
<body>
	<h1>AJOUTER UNE TACHE</h1>
	<br><br>
	<form action="{{path('msim_tache_ajouter')}}" method="post">
		<table>
			<tr><th>Ajouter une chose à faire :</th><td><input type="text" name="name" required></td></tr>
			<tr><th>Description de la chose à faire :</th><td><textarea rows="4" cols="20" name="description" required></textarea></td></tr>
			<tr><th>Faire au plus tard :</th><td><input type="date" name="dateTache" min="{{date}}" required><input type="time" name="timeTache" required></td></tr>
			<tr><td><input type="submit" name="valider" value="valider"></td><td><button><a href="{{path('msim_tache_list')}}">retour</a></button></td></tr>
		</table>

	</form>
<h4><a href="https://plus.google.com/u/0/+SoufianeMounkid/about">@MOUNKID Soufiane</a></h4>
</body>
</html>